<h1>manage posts</h1>

<form [formGroup]="postForm" (ngSubmit)="save()"  class="form-group">
    <label for="title" class="form-label">title</label>
    <input class="form-input" placeholder="your post title" id="title" type="text" formControlName="title">
    <label class="form-label" for="content">content</label>
    <textarea class="form-input" placeholder="your post content" id="content" formControlName="content"></textarea>
    <button class="btn btn-primary" type="submit" [disabled]="postForm.invalid">save</button>
</form>

<ul>
    <li *ngFor="let post of posts$ | async">
        {{post.title}}
        <button class="btn" (click)="delete(post.id)"><i class="icon icon-cross"></i></button>
    </li>
</ul>